* {
    box-sizing: border-box;
}

.movie-view {
    justify-content: center;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
  }

  .button-back{
    margin:10px;
    padding:5px;
  }

div.text-center{
  margin:10px;
}

.movie-title{
  font-weight: bold;
}

.btn-sm {
  margin:12px;
}
