* {
    box-sizing: border-box;
}

.login-form {
  margin: 0 auto;
  width: 50%;
  border: 1px solid #17A2B8;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.btn-submit, .btn-register{
  margin: 10px;
}
