* {
    box-sizing: border-box;
}

.main-view {
    justify-content: center;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    padding:10px 30px
  }
.profile-btn {
  margin-right: 2px;
}
