* {
  box-sizing: border-box;
}

.update-form {
  justify-content: center;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
}

.profile-view{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}

.update-title {
  font-weight: bold;
}

.btn-register, .btn-delete{
  margin: 10px;
}

.card-img-top {
    width: 30%;
  }

.row{
  margin-top:10px;
}
